@import "tailwindcss";

body {
  overflow: hidden;
}

.main{
  height: 100vh;
  width: 100vw;
  background-image: url("/src/assets/Symbol 3 copy.png") !important;
  background-position: center !important;
}

.fire-spark {
  position: absolute;
  width: 24px;
  height:24px;
  background: radial-gradient(circle, #e607e6, #97051f);
  border-radius: 50%;
  animation: firecracker 600ms ease-out forwards;
}

@keyframes firecracker {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(
        calc(cos(var(--angle)) * var(--speed) * 40px),
        calc(
          sin(var(--angle)) * var(--speed) * 40px +
            var(--gravity) * 120px
        )
      )
      scale(0.3);
    opacity: 0;
  }
}
